.SearchBar {
  width: 100%;
}

.SearchBar-input {
  width: 100%;
  margin: 0;
  padding: 1rem;

  font-size: 1rem;
  font-weight: 400;
  color: #37374a;

  border: none;
  border-radius: 0.25rem;
}

.SearchBar-input:focus {
  outline: none;
}

.SearchBar-input[::-webkit-input-placeholder] {
  color: #8383af;
}

.SearchBar-input[::-moz-placeholder] {
  color: #8383af;
}

.SearchBar-input[:-ms-input-placeholder] {
  color: #8383af;
}

.SearchBar-input[::-ms-input-placeholder] {
  color: #8383af;
}

.SearchBar-input[::placeholder] {
  color: #8383af;
}
